@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

.community-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.twoButtonFixed {
  position: fixed;
  top: 54px;
  width: 100%;
  background-color: colors.$white;
}

.postList {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  margin-top: 60px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}