@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typo;


.mapBox {
    position: fixed;
    z-index: 100;
    padding: 20px;
    margin: 20px;
    background-color: colors.$gray1;
    border: 1px solid colors.$gray1;
    border-radius: 10px;

    @include typo.name;

    span {
        color: colors.$primary;
    }
}