@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.modalContent {
  position: relative;
  box-sizing: border-box; // padding 포함한 box 사이징
  width: 100%;
  max-width: 390px; // 최대 너비를 줄임
  max-height: 80%;
  padding: 20px;
  overflow: hidden auto; // 수평 스크롤 숨기기
  background-color: white;
  border-radius: 10px 10px 0 0;

}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

.cropList {
  box-sizing: border-box;
  display: grid;
  gap: 5px;
  width: 100%; 

}

.cropItem {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer; 
}

.selected .crop-image-container {
  border-color: colors.$primary !important;
}

.buttonContainer {
  box-sizing: border-box; // padding 포함한 box 사이징
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px; // 버튼 사이 간격을 줄임
  justify-content: flex-end;
  width: 100%;

  & > * {
    max-width: 100% !important; // 최대 너비를 컨테이너에 맞춤
  }
}