@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.crops-component {
  display: flex;
  justify-content: center;

}

.crops-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3개씩 나열되도록 설정
  gap: 0.5rem 2rem; 
  width: 100%;
}

.crop-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 10px 0;
  transition: border-color 0.3s;


  &.selected .crop-image-container {
    border-color: colors.$primary;
  }
}

.crop-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 2px solid colors.$divider2;
  border-radius: 50%;
}

.crop-image {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.crop-name {
  margin-top: 0.3rem;
  text-align: center;

  @include typo.name;
}
