@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;


.cropsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
}

.mainContainer {
  padding: 0 10px;
}

.cropsCount {
  width: 100%;
  text-align: left; 
}

.cropList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3개씩 나열되도록 설정
  width: 100%;
}

.cropCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px; 
  border: none;
  transition: border-color 0.3s;

  &:hover {
    border-color: colors.$primary;
  }

  &.selected .cropImageContainer {
    border-color: colors.$primary;
  }
}

.cropImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1.5px solid colors.$divider2;
  border-radius: 50%;
  transition: border-color 0.3s;

  &.selected {
    border-color: colors.$primary; /* 선택된 경우 초록색으로 변경 */
  }
}

.cropImage {
  &.default {
    width: 70%; 
    height: 70%; 
  }
  
  &.attached {
    width: 100%;
    height: 100%;
  }
  
}

.cropInfo {
  margin-top: 10px;
  text-align: center;

  @include typo.name;
}

.noCrops {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include typo.label;


}


