@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.crops-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 390px;
  padding: 16px;
}

.test{
  max-width: 360px;
}
.crops-count {
  width: 100%;
  text-align: left; 
}

.crop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3개씩 나열되도록 설정
  width: 100%;
}

.crop-card {
  width: 100%;
  padding: 16px; 
  // margin: 10px 0;
  border: none;
  transition: border-color 0.3s;

  &:hover {
    border-color: colors.$primary;
  }

  &.selected .crop-image-container {
    border-color: colors.$primary;
  }
}

.crop-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border: 1px solid colors.$divider2;
  border-radius: 50%;
  transition: border-color 0.3s;

  &.selected {
    border-color: colors.$primary; /* 선택된 경우 초록색으로 변경 */
  }
}

.crop-image {
  &.default {
    width: 70%; 
    height: 70%; 
  }
  
  &.attached {
    width: 100%;
    height: 100%;
  }
  
  // object-fit: cover;
}

.crop-info {
  margin-top: 10px;
  text-align: center;

  @include typo.name;
}

.no-crops {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  img {
    width: 15rem; 
    height: auto;
  }
}


