@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typographies;


.button {
  @include typographies.button;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 5px;

  &.disabled {
    color: colors.$white;
    pointer-events: none;
    background-color: colors.$placeholder;
    border-color: colors.$placeholder;
  }

  &:disabled {
    color: colors.$white;
    pointer-events: none;
    background-color: colors.$placeholder;
    border-color: colors.$placeholder;
  }
}

.primary {
  color: colors.$white;
  background-color: colors.$primary;
}

.mono {
  color: colors.$primary;
  background-color: transparent;

  &.disabled {
    color: colors.$placeholder;
  }
}

.outlined {
  color: colors.$primary;
  background-color: transparent;
  border: 1px solid colors.$primary;

  &.disabled {
    color: colors.$placeholder;
    background-color: transparent;
  }
}

.floating {
  width: 168px;
  height: 53px;
  background-color: colors.$primary;
  border-radius: 27px;
}

.flexible {
  padding: 8px;
}

.large {
  width: 341px;
  height: 48px;
}

.medium {
  width: 297px;
  height: 57px;
}

.small {
  width: 160px;
  height: 51px;
}

.tiny {
  width: 107px;
  min-width: 107px;
  height: 48px;
}


.kakao {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: colors.$black;
  background-color: colors.$kakao;
  border-radius: 5px;

  svg {
    width: 26px;
    height: 21px;
  }
}


button:hover, a:hover {
  cursor: pointer;
  opacity: .8;
}