@use '../../styles/constants/colors' as colors;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  letter-spacing: .6px;
  border: 0;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: colors.$white;
    background-color: colors.$placeholder;
    border-color: colors.$placeholder;
  }
}

.primary {
  color: colors.$white;
  background-color: colors.$primary;
}

.mono {
  color: colors.$primary;
  background-color: transparent;

  &:disabled {
    color: colors.$placeholder;
  }
}

.outlined {
  color: colors.$primary;
  background-color: transparent;
  border: 1px solid colors.$primary;

  &:disabled {
    color: colors.$placeholder;
    background-color: transparent;
  }
}

.floating {
  width: 168px;
  height: 53px;
  background-color: colors.$primary;
  border-radius: 27px;
}

.flexible {
  padding: 8px;
}

.large {
  width: 341px;
  height: 48px;
}

.medium {
  width: 297px;
  height: 57px;
}

.small {
  width: 160px;
  height: 51px;
}

.tiny {
  width: 107px;
  height: 48px;
}


// 'large' | 'medium' | 'small' | 'tiny'