.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;

  .headingContainer {
    flex: 2;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inputContainer {
    flex: 6;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 44px;
  }

  .buttonContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
  }
}