@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;


.dayDiaryContainer {
    position: relative; 
    max-width: 390px;
    padding: 20px;
    padding-left: 20px;
    margin: 0 auto;

    &::before {
      position: absolute;
      top: 25px;
      bottom: 0;
      left: 28px;
      z-index: 1;
      width: 3px;
      content: ""; 
      background-color: colors.$divider2; 
      border-radius: 100px; 
    }
}

.date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;

    @include typo.label;

    .dateIcon {
        z-index: 8;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-color: colors.$primary;
        border-radius: 50%;
    }
}

.diaryImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;
}
