.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;


  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 9;

    img {
      width: 260px;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-grow: 1;
  }
}