@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typographies;


.chatInfoCard {
  position: fixed;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  background-color: white;

  .chatImage {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    .title {
      @include typographies.title;
    }

    .author {
      @include typographies.name;
    }

    .status {
      @include typographies.label;
    }
  }

  .button {
    @include typographies.button;

    position: absolute;
    top: 10px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 42px;
    color: colors.$white;
    background-color: colors.$primary;
    border-radius: 5px;
  }
}