@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/dimension' as dimension;

.chattingButtonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: dimension.$foreground;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 84px;
  background-color: colors.$white;
  border-top: 2px solid colors.$divider;


  .heart {
    width: 35px;

    &.dib path {
      fill: colors.$red;
      stroke: colors.$red;
    }
  }
}