@use '../../../styles/constants/colors.scss' as colors;
@use '../../../styles/constants/typographies.scss' as typo;

.container {
  margin: 0 auto; // 중앙 정렬
  width: 600px;
  margin: auto; // 중앙 정렬
}

.header {
  display: flex;
  align-items: center; // 수직 정렬
  justify-content: space-between; // 버튼을 좌우로 배치
  width: 100%; // 부모 컨테이너가 전체 너비를 차지하도록 설정
  background: none; // 배경색 제거
  border-bottom: none;
}

.header button {
  position: relative;
  flex: 1; // 버튼을 균등하게 배치
  font-size: 1.5rem;
  color: colors.$placeholder; // 기본 색상
  cursor: pointer;
  background: none;
  border: none;
  transition: color 0.1s ease, border-color 0.1s ease;
  
  @include typo.list-main;

  &::after {
    position: absolute;
    bottom: -4px; // 버튼 바로 아래에 선을 배치
    left: -12.7%; // 버튼 너비에 맞추기 위해 왼쪽으로 이동
    display: block;
    width: 124%; // 버튼 너비에 맞추기
    content: '';
    border-bottom: 4px solid grey; // 기본 색상
    transition: border-color 0.1s ease;
  }

  &.active {
    color: black; // 활성화된 상태의 색상

    &::after {
      border-bottom-color: black; // 활성화된 상태의 색상
    }
  }
}