.container {
  position: relative;
  padding-bottom: 5rem; // 버튼 공간 확보를 위해 추가
}

.noCrops {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  img {
    width: 15rem; 
    height: auto;
  }

}

.cropList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.crop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.crop-image-thumbnail {
  width: 50px;
  height: 50px;
}

.floatingButton {
  position: fixed;
  right: 1rem;
  bottom: 14rem;

  button {
    color: white;
  }
}

.hidden {
  display: none;
}
