.community-detail-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .input-container {
        display: flex;
        justify-content: center;    
    }   
}
      