.commentInput {
    position:  fixed;
    bottom: 12px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.communityDetail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    // align-items: center;
    height: 100%;
    padding-bottom: 0;
    
    // padding: 0 20px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }
}
      
