@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.diaryListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.card {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detailButton {
  position: absolute;
  top: 10px;
  right: 10px; 
  font-size: 15px;
  color: colors.$primary;
  cursor: pointer;
}

.cardContent {
  display: flex;
}

.cardImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.textContent {
  display: flex;
  flex-direction: column;
  margin: 10px;

  h3 {
    max-width: 150px;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  p {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
