@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;


.result-box {
    @include typo.heading;

    display: flex;
    margin-top: 10px;
    margin-left: 20px;

    .result-text {
        padding-right: 10px;
        color: colors.$primary;
    }
}


.trade {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
}

.community {
    height: 100%;
    overflow-y: scroll;
}

.neighbor {
    height: 100%;
    overflow-y: scroll;
}