@use '@/styles/constants/typographies' as typo;
@use '@/styles/constants/colors' as colors;

.card {
  position: relative;
  width: 100%;

  // max-width: 390px;
  margin: auto;

  @media (width <= 480px) {
    max-width: 100%;
  }
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items:self-start;
  justify-content:safe;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 20px;
  color: colors.$white;
  background-color: rgb(0 0 0 / 25%);

  @media (width <= 480px) {
    background-color: rgb(0 0 0 / 25%);
  }
}

.content {
  margin-bottom: 10px; 

  @include typo.title;

  text-align:left;

  @media (width <= 480px) {
    // font-size: 1em; 
  }
}

.link {
  @include typo.label;

  padding-top: 5px;
  text-decoration: none;

  a {
    padding: 5px 10px;
    color: colors.$white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      color: black;
      background-color: colors.$white;
    }
  }

  @media (width <= 480px) {
    a {
      padding: 4px 8px;
    }
  }
}
