@use '@/styles/constants/colors' as colors;

.generalInput {
  width: 341px;
  height: 48px;
  border: 1px solid colors.$primary;
  border-radius: 12px;

  &::placeholder {
    color: colors.$placeholder;
    padding: 0 10px;
  }
}

.labeledInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
}