@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typographies;

.chatting {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;

  .board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 140px 12px 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .inputContainer {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 5px;

    input {
      @include typographies.chat;

      flex-grow: 1;
      height: 33px;
      padding: 0 8px;
      font-size: 22px;
      background-color: colors.$gray1;
      border: 0;
      border-radius: 4px;
    }

    button {
      @include typographies.label;

      height: 100%;
      padding: 0 10px;
      color: colors.$white;
      background-color: colors.$primary;
      border-radius: 4px;
    }
  }
}