.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;

  .section-title {
    width: 100%;

    // margin-top: 10px; // 상단 여백 설정
    margin-bottom: 10px;
    margin-left: 20px; // 왼쪽 여백을 20px로 설정
    font-size: 1.5em;
    font-weight: bold;
    text-align: left; // 제목을 왼쪽 정렬
  }

  .home-barter, .home-community {
    display: flex;
    flex-direction: column;
    align-items: center; // 섹션 내의 콘텐츠를 가운데 정렬
    width: 100%;
    margin: 10px 0;
  }

  .link-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  .home-community {
    .community {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
