@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

.crops-count {
    @include typo.main;

    padding-left: 40px;
    margin-top: 20px;
    color: colors.$placeholder;
}

.profile-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    // align-items: center;
    height: 100%;
    padding-bottom: 0;
    
    // padding: 0 20px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.logoutButton {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

    @include typo.list-content;
    
    a {
        color: colors.$white;
    }

    a:hover {
        background-color: lighteness(colors.$primary, 10%);  
    }
}