@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typo;

.home-trade-component {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  overflow: hidden;

  .carousel-inner {
    display: flex;
    width: 100%;
    padding-right: 5px;
    margin-right: 10px;
    cursor: grab;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-inner:active {
    cursor: grabbing;
  }

  .barter-card {
    display: flex;
    flex: 0 0 calc(45% + 5px);
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    transition: transform 0.3s ease;
  }

  .barter-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
  }

  .barter-title, .barter-time {
    width: 100%;
    padding-left: 5px;
    margin: 5px 0;
    text-align: left;
  }

  .barter-title {
    @include typo.label;
  }

  .barter-time {
    @include typo.time;

    color: colors.$placeholder;
  }

  .barter-likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: auto;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
    background-color: rgb(0 0 0 / 50%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transform: translateY(-50%);

    &:hover {
      background-color: rgb(0 0 0 / 80%);
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}
