@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

.postDetail {
  // max-width: 390px; // 화면 너비 조정
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: solid 1px colors.$divider2;
  border-radius: 0;
}

.textBox {
  padding: 5px;

  .title {
    margin: 5px;

    @include typo.title
  }

  .content {
    margin: 5px; 

    @include typo.main
  }

}