@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

.postDetail {
  max-width: 390px; // 화면 너비 조정
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: solid 1px colors.$divider2;
  border-radius: 0;
}

.textBox {
  padding-left: 10px;
}


.title {
  margin: 10px 0;

  @include typo.title
}

.content {
  margin: 10px 0; 

  @include typo.main
}
