@use '@/styles/constants/colors' as colors;

.crop-selector {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  .icon {
    width: 24px;

    path {
      fill: colors.$primary;
    }
  }
}