@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typographies;


.message {
  @include typographies.main;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 60%;
  padding: 7px 15px;
  color: colors.$black;
  background-color: colors.$gray1;
  border-radius: 15px;

  &.mine {
    align-self: flex-end;
    color: white;
    background-color: colors.$primary;
  }
}
