@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  .imageContainer {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 100%;
      max-width: 360px;
      text-align: center;
      scroll-snap-align: start;

      img {
        width: 50%;
        height: auto;
        max-height: 300px;
      }

      .text {
        padding: 0 20px;
        margin-bottom: 20px;
        line-height: 30px;

        @include typo.alarm;

        span {
          color: colors.$placeholder;
        }
      }
    }
  }

  .prevButton, .nextButton {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    color: colors.$placeholder;
    cursor: pointer;

    // background-color: rgb(0 0 0 / 20%);
    border: none;

    // border-radius: 50%;
    transform: translateY(-50%);

    @include typo.button;
  }

  .prevButton {
    left: 10px;
  }

  .nextButton {
    right: 10px;
  }
}

