.home-story {
  position: relative;
  max-width: 390px;
  overflow: hidden;

  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .story-card {
      position: relative;
      flex: 0 0 38%;
      scroll-snap-align: start;
      margin: 0 5px;

      .diary-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      .profile-image {
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 40px;
        height: 40px;
        border: 2px solid white;
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }
  }
}