@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.home-story {
  position: relative;

  // max-width: 390px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;

  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .story-card {
      position: relative;
      flex: 0 0 38%;
      scroll-snap-align: start;
      margin: 0 5px;

      .diary-image {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 200px; 
        overflow: hidden;
        border-radius: 10px;
      }
    
      .profile-image {
        position: absolute;
        bottom: 30px;
        left: 50%;
        z-index: 2; 
        width: 60px; 
        height: 60px; 
        background-color: colors.$white;
        border: 2px solid colors.$white;
        border-radius: 50%;
        transform: translateX(-50%);
      }

      .nickname {
        position: absolute;
        bottom: 0; 
        left: 50%;
        z-index: 3;
        padding: 5px 10px;
        color: colors.$white;
        border-radius: 10px;
        transform: translateX(-50%);

        @include typo.label;
      }
    }
  }
}
