@use '../../styles/constants/typographies' as typo;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 0 20px;
  perspective: 0;
}

ul {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.back-button {
  width: 18px;
}

.icon {
  width: 30px;
}

.label {
  @include typo.heading;
}

.left-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}