@use '@/styles/constants/typographies.scss' as typo;

.location {
    @include typo.button;

    svg {
        width: 25px;
        height: 25px;
        padding-top: 5px;
        padding-right: 5px;
    };

};


