@use '@/styles/constants/typographies.scss' as typo;

.location {
    display: flex;
    align-items: center; 

    svg {
        width: 25px;
        height: 25px;
        padding-top: 2px;
        padding-right: 5px;
    }

    .location-icon {
        margin-bottom: 2px;
    }

    .location-text {
        @include typo.button;
    }
}
