@use '@/styles/constants/colors' as colors;

.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  .headingContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
  }

  .inputContainer {
    display: flex;
    flex: 6;
    flex-direction: column;
    gap: 44px 0 0 0;
    width: 100%;
  }

  .inputLabel {
    display: flex;
    flex-direction: column;
    margin: 4px;
  }
  
  .datePicker {
    width: 341px;
    height: 48px;
    padding: 0 12px;
    border: 1px solid colors.$primary;
    border-radius: 12px;
    &::placeholder {
      color: colors.$placeholder;
    }
  }

  .buttonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  }
}
