@use '@/styles/constants/colors.scss' as colors;

.registerCrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .headingContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
  }

  .inputContainer {
    display: flex;
    flex: 6;
    flex-direction: column;
    gap: 44px;
    width: 100%;
  }

  .inputLabel {
    display: flex;
    flex-direction: column;
    margin: 4px;
  }

  .datePicker {
    width: 341px;
    height: 48px;
    padding: 0 12px;
    border: 1px solid colors.$primary;
    border-radius: 12px;

    &::placeholder {
      color: colors.$placeholder;
    }
  }

  .buttonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cropImage {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .nickname {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .date {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .description {
    white-space: pre-wrap; // 줄바꿈 유지
  }
}

.noteStyle {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 20px;
  background-color: #fffbcc; // 연한 노란색 배경
  border: 1px solid #ffd966; // 노란색 테두리
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

// .animation {
//   width: 150px; // 애니메이션 크기 조정
//   margin-bottom: 2rem; // 애니메이션과 메모장 사이 간격 추가
// }
