.community {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.communityCard {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
  border-bottom: 1px solid #8e8e8e;
}

.location {
  align-self: left;
  width: fit-content;
  padding: 5px 10px;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 12px;
}

.cardContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.textBox {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 10px;
}

.textTitle, .text, .time {
  margin-bottom: 5px;
  color: black;
}


.iconBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.likeCount {
  color: #4fba3e;
}


.likeCount, .commentCount {
  display: flex;
  align-items: center;
  font-size: 14px;
}