@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.registerCrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
 
  .progressbar {
    width: 100%;
    padding: 20px;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 30px 10px;
  }

  .headingContainer {
    display: flex;
    flex-direction: column;
    width: 321px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    p {
      @include typo.label;
    }
  }

  .datePicker {
    width: 341px;
    height: 48px;
    padding: 0 12px;
    border: 1px solid colors.$primary;
    border-radius: 12px;

    &::placeholder {
      color: colors.$placeholder;
    }
  }

  .buttonContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

      &.primaryButton {
        color: white;
        background-color: colors.$primary;
      }

      &.disabledButton {
        color: white;
        cursor: not-allowed;
        background-color: colors.$divider2;
      }

    // }
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .cropImage {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .nickname {
    @include typo.name;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;

  .date {
    margin-bottom: 10px;

    @include typo.time;
  }

  .description {
    white-space: pre-wrap; // 줄바꿈 유지
  }
}

.noteStyle {
  display: flex;
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fffbcc; // 연한 노란색 배경
  border: 1px solid #ffd966; // 노란색 테두리
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.animation {
  width: 320px; // 애니메이션 크기 조정
  height: 320px; // 애니메이션과 메모장 사이 간격 추가
}
