@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.modalContent {
  position: relative;
  width: 100%;
  height: 83vh; /* 모달 높이 조정 */
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.modalSection {
  margin-bottom: 60px;

  h3 {
    margin-bottom: 10px;
    text-align: left;
  }
}

.buttonGroup {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2열로 나열 */
  gap: 10px; /* 버튼 간격 */
}

.filterButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0; /* 동일한 크기로 설정 */
  margin: 3px 0;
  color: colors.$placeholder;
  border: 1px solid colors.$placeholder !important;
  border-radius: 10px;

  @include typo.list-title;
}

.rangePicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* 가로로 나열 */
  justify-content: center;
  margin-top: 20px;

  .datePickerWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .react-datepicker-wrapper {
    width: auto;
  }

  .react-datepicker__input-container input {
    width: 80px; /* input의 크기 조정 */
    text-align: center; /* 가운데 정렬 */
    border: none;
    border-bottom: 1px solid colors.$placeholder;
  }

  .react-datepicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .datepickerHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  .datepickerHeader button {
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
  }
}

.active {
  color: colors.$primary !important;
  border: 1px solid colors.$primary !important;

  @include typo.list-title;
}

.applyButton {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 20px auto 0;
  color: #fff;
  background-color: colors.$primary;
  border: 1px solid colors.$primary !important;
  border-radius: 10px;

  @include typo.list-title;
}
