@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/dimension' as dimension;

.navigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: dimension.$foreground;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: 70px;
  padding: 0 20px;
  background-color: rgb(255 255 255 / 80%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 30%);
  border-radius: 40px;
  box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
  transform: translateX(-50%);

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    position: relative; /* 동그란 원의 배치를 위해 position 설정 */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  a {
    position: relative; /* 가상 요소가 링크 내부에 배치되도록 relative 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$placeholder;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1; /* 아이콘 밑으로 배경을 보내기 */
      width: 60px;
      height: 60px;
      content: "";
      background-color: rgb(255 255 255 / 80%);
      border-radius: 50%;
      opacity: 0; /* 초기 상태에서는 보이지 않음 */
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform: translate(-50%, -50%) scale(0.5); /* 작게 시작해서 커지는 효과 */
    }

    &:hover {
      color: colors.$primary;
      transform: translateY(-5px);

      &::before {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }

      .lottie {
        transform: scale(1.1);
      }
    }

    &:active {
      transform: translateY(-8px) scale(1.05);

      .lottie {
        transform: scale(1.2);
      }
    }

    span {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .lottie {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

}
