@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 3rem;

  input {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    background-color: colors.$gray1;
    border: none;
    border-radius: 4px;
  }

  .clearButton {
    position: absolute;
    right: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;

    img {
      width: 16px; 
      height: 16px; 
    }
  }
}
