$primary: #4FBA3E;
$divider: #F5F5F5;
$divider2: #d9d9d9;
$placeholder: #8e8e8e;
$kakao: #fee500;
$black: #000;
$gray1: #f2f2f2;
$label: #b5b5b5;
$icon: #49454f;
$white: #FFF;
$blue: #0F28A7;
$red: #FF0303;
$backdrop: #DADADA;
$share: #FF00B8;