@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// .form-container {
//   display: flex;
//   flex-direction: column;
//   gap: 20px; 
//   justify-content: center; 
//   width: 100%; 

//   // max-width: 390px; 
//   padding: 20px; 
//   border-radius: 0;
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 10px;
 }

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  // display: flex;
  // flex-direction: column;
  // gap: 20px; 
  // justify-content: center; 
  // width: 100%; 
  // max-width: 390px; 
  // padding: 20px; 
  // padding-left: 10px;

  // background-color: #f9f9f9; 
  // border-radius: 0;

}

.image-text {
  padding-bottom: 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content:flex-end;
  width: 100%;
  align-items: center;
}

.button-container {
  display: flex;
  text-align: center;
}
