@use '@/styles/constants/typographies.scss' as typo;
@use '@/styles/constants/colors.scss' as colors;

// .HeaderWithLabelAndButtonsLayout {
//     position: fixed;
//     top: 0;
// }

.resultBox {
    @include typo.heading;

    display: flex;
    margin-top: 10px;
    margin-left: 20px;

    .resultText {
        padding-right: 10px;
        margin-bottom: 10px;
        color: colors.$primary;
    }
}

// .sortByResultFixed {
//     position: fixed;
//     top: 162px
// }